<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
    <!-- The handler here is specific to Bottle; other frameworks vary. -->
    <add key="WSGI_HANDLER" value="famos_file_manager.wsgi_app"/>
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi-3.log"/>
  </appSettings>
  <system.webServer>
     <fastCgi>
      <application fullPath="D:\home\python364x86\python.exe" arguments="D:\home\python364x86\wfastcgi.py" 
        maxInstances="4" idleTimeout="36000" activityTimeout="36000"
        requestTimeout="36000" instanceMaxRequests="10000" protocol="NamedPipe" flushNamedPipe="false">
      </application>
    </fastCgi>
    <handlers>
        <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="D:\home\python364x86\python.exe|D:\home\python364x86\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>